// 图论相关工具函数
	// 初始化一个空图对象
	make_Graph(graph_data={})
		graph = {
			object: "Graph",
			data: graph_data
		}
		return graph

	// 添加一个节点
	Graph_add_node(graph,node)
		error_classname(graph,"Graph") // 要求传入的参数是图对象
		graph.data[node] = {}
		return graph

	// 添加一条边
	Graph_add_edge(graph,from,to)
		error_classname(graph,"Graph") // 要求传入的参数是图对象
		if graph.data[from] == undefined
			Graph_add_node(graph,from)
		if graph.data[to] == undefined
			Graph_add_node(graph,to)
		graph.data[from][to] = true
		return graph

	// 初始化一颗树
	make_Tree(root_name=null,graph_data=make_Graph(),father_map={},node_value={})
		tree = {
			object: "Tree",
			root: root_name,
			graph: graph_data,
			father: father_map,
			value: node_value
		}
		return tree

	// 连接一条边
	Tree_add_edge(tree,from,to)
		error_classname(tree,"Tree") // 要求传入的参数是树对象
		Graph_add_edge(tree.data.graph,from,to)
		tree.data.father[to] = from
		return tree
