// 哈希表的一些操作函数
	merge_list(a,b) // 合并列表 a,b，优先保留 a 中的键值对
		for key,value in b
			if (key in a) == false
				a[key] = value
		return a

	// 判断一个哈希表是否为另一个的子集
	is_subset(a,b)
		for key,value in a
			if (key in b) == false
				return false
			if value != b[key]
				return false
		return true

	// 将列表转换为哈希表
	unit_to_map(list)
		map = {}
		for key in list
			map[key] = true
		return map
	
	// 将哈希表转换为列表
	map_to_unit(map)
		list = ()
		for key in map
			push(list,key)
		return list
