// 随机数库函数
	random_float() // 生成一个 0 到 1 之间的随机浮点数
		return math(0,'random')
	random(a,b)
		return math(random_float()*(b - a + 1) + a, 'floor')
	// 生成一个随机的八位字母变量名
	random_name()
		name = ''
		for i in 0..7
			name += letter_map[random(0,25)]
		if (name in random_map) || is_defined(name)
			return random_name()
		random_map[name] = true
		return name
