{
	to_s: tostring to_string to_str,
	Selector_to_string: Selector_to_str,
	string_to_Selector: str_to_Selector,
	unit_to_Selector: list_to_Selector,
	Selector_to_unit: Selector_to_list,
	unit_to_map: list_to_map,
	map_to_unit: map_to_list
}