/* ==UserStyle==
@name         氧洛谷
@namespace    https://userstyles.world/style/18339/default-slug
@version      3.0.0.0
@description  氧洛谷 3.0 版本
@author       TLEWA
@license      GPL v3
@preprocessor stylus
==/UserStyle== */
